@model BookManagement.Models.AddBookArg
@{
    ViewBag.Title = "AddBook";
}

<h2>新增書籍</h2>
<form asp-controller="BookMangement" asp-action="AddBook" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="input_book_name" class="control-label col-md-2 required">書名</label>
            <div class="col-md-10">
                <input id="input_book_name" class="form-control" type="text" name="BookName" data-val-required="此欄位必填" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="input_book_author" class="control-label col-md-2 required">作者</label>
            <div class="col-md-10">
                <input id="input_book_author" class="form-control" type="text" name="BookAuthor" data-val-required="此欄位必填" required/>
                @*<span class="field-validation-valid text-danger" data-valmsg-for="input_book_author" data-valmsg-replace="true"></span>*@
            </div>
        </div>
        <div class="form-group">
            <label for="input_book_publisher" class="control-label col-md-2 required">出版商</label>
            <div class="col-md-10">
                <input id="input_book_publisher" class="form-control" type="text" name="BookPublisher" data-val-required="此欄位必填" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="input_book_note" class="control-label col-md-2 required">內容簡介</label>
            <div class="col-md-10">
                <textarea id="input_book_note" class="form-control" name="BookNote" maxlength="1000" rows="10" cols="10" placeholder="最多輸入1000字..." data-val-required="此欄位必填" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="input_book_bought_date" class="control-label col-md-2 required">購書日期</label>
            <div class="col-md-10">
                <input id="input_book_bought_date" class="form-control" type="date" name="BookBoughtDate" data-val-required="此欄位必填" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="drop_book_class" class="control-label col-md-2 required">圖書類別</label>
            <div class="col-md-10">
                <input id="drop_book_class" class="form-control" type="text" name="BookClass" data-val-required="此欄位必填" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="submit" id="btn_add_book_data" name="新增" />
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {   
        $("#drop_book_class").kendoDropDownList({
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "Json",
                            url: "/bookManagement/GetBookClassToDrop",
                            type: "Post"
                        }
                    }
                }
        })
    });
</script>


